<div class="container-fluid p-0 footer-full-width">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <div class="logo-row" routerLink="/inicio">
                <div class="logo">PÁDEL <span>DISTRICT</span></div>
            </div>
            <p class="footer-text">© 2026</p>
        </div>
        <div class="col mb-3"></div>
        <div class="col mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/ayuda" class="nav-link p-0 footer-text">Ayuda</a></li>
                <li class="nav-item mb-2"><a routerLink="/faqs" class="nav-link p-0 footer-text">FAQs</a></li>
                <li class="nav-item mb-2"><a routerLink="/guia/tallas" class="nav-link p-0 footer-text">Guía de tallas</a></li>
                <li class="nav-item mb-2"><a routerLink="/cambios/devoluciones" class="nav-link p-0 footer-text">
                    Cambios, devoluciones y garantías</a></li>
            </ul>
        </div>
        <div class="col mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/quienes/somos" class="nav-link p-0 footer-text">Quienes somos</a>
                <li class="nav-item mb-2"> <a routerLink="/novedades" class="nav-link p-0 footer-text">Novedades</a> </li>
                <li class="nav-item mb-2">  <a routerLink="/about" class="nav-link p-0 footer-text">Acerca de</a>  </li>
            </ul>
        </div>
    </footer>
</div>